body {
    background-color: white;
    color: black;
    min-height: 100vh;
}

h1,
h2,
h3 {
    color: black;
}

.title {
    color: black;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    justify-content: center;
    gap: 30px;
}

.gallery .card {
    transition: .1s linear;
}

.gallery .card:hover {
    transform: scale(1.1);
    z-index: 10;
}

p {
    font-size: 12px;
}

.navbar-item.user {
    color: white;
}

.detail_add {
    padding: 10px;
}

.navbar {
    background: linear-gradient(180deg, #8000FF, #07000E)!important;
    padding-left: 20px;
    padding-right: 20px;
}

a.navbar-link {
    color: white;
    margin: 5px;
    text-decoration: none;
    padding: 10px;
}

.navbar-brand {
    color: white;
}

.navbar-brand:hover {
    color: white;
}
