{% extends 'base.html' %} 
{% block title %}
{{header}}
{% endblock %}

{% block content %}
<form class="mb-5" method="get">
  <div class="field has-addons">
    <div class="control">
      <input  class="rounded-pill" />
      <input class="search rounded-pill" type="submit" value="Search" />
      <a class="button is-dark" href="{% url 'budget_list' %}">Clear Search</a>
    </div>
    
    
  </div>
</form>
<div class="gallery">
  {% for store in stores %}
  <a href="">
    <div class="card">
      <a href="{% url 'budget_detail' store.pk %}" >
        <div class="card-image">
        </div>
        <div class="card">
            <img src="https://i.im.ge/2022/10/13/2OZTgp.Screen-Shot-2022-10-12-at-3-34-02-PM.png" class="card-img-top" alt="">
            <div class="card-body">
          <p class="card-title">Your Budget limit: 
            <span class='card-title-two'>${{store.amount}}</span></p>
          <p class="card-title"> Month: 
            <span class='card-title-two'>{{store.month}}</span></p>
          </div>
        </div>
      </a>
    </div>
  </a>
  {% empty %}
    <h1>No locations found matching your query</h1>
  {% endfor %}
</div>

<footer class="footer">
    <p class="p-footer">Created by: Joey Caltabellotta</p>
    <p class="p-footer">Contact: joeycalt@yahoo.com</p>
    <p class="p-footer">©2022</p>
</footer>
{% endblock %}