{% extends 'base.html' %} 
{% block title %} {{header}} {% endblock %}
{% block content %}
<h1 class="detail-header">{{user.username}}'s budget for {{budget.month}}
    <span class="detail-delete">
        <a href="{% url 'budget_delete' budget.pk %}" class="button is-danger">
            <span class="btn-label"">
                <button type="button" class="btn btn-labeled btn-danger">
                    <img class="delete-button" src="https://cdn2.iconfinder.com/data/icons/round-interface-1/217/50-1024.png" alt="">
            </button>
                
            </span>
        </a>
    </span>
    <p class="detail-spent">Total spent so far</p>
    <p class= 'detail-amount'>${{budget.amount}}</p> </h1>
    
    <hr />
<div class="detail-form">
    <h2 class="purchase-title">What did you buy?</h2>
    
    <div>
        <form class="mb-5" action="{% url 'budget_create' budget.pk %}" method="post">
            {% csrf_token %}
            <div>
                <div>
                    <input
                    class="company detail rounded-pill"
                    type="text"
                    name="name"
                    placeholder="Company Name"
                    required
                    />
                </div>
                <div>
                    <input
                    class=" item-price detail rounded-pill"
                    type="text"
                    name="title"
                    placeholder="Item"
                    required
                    />
                    <input
                    class="item-price detail rounded-pill"
                    type="text"
                    name="price"
                    placeholder="Price"
                    value="$"
                    required
                    />
                    <input
                    class="date-add detail rounded-pill"
                    type="text"
                    name="date"
                    placeholder="Date"
                    required
                    />
                    <div>
                    <input class="add rounded-pill" type="submit" value="Add Purchase" />
                </div>
                </div>
            </div>
        </form>
       <h3 class="spending">{{budget.month}}'s spending</h3> 

        {% for item in budget.buys.all %}
    <div class="detail-data">
        <div class="company">
        <h6>Company</h6>
        <br />
        {{item.name}}
       </div>
       <div class="item">
        <h6>Item</h6>
        <br />
        {{item.title}}
       </div>
       <div class="price">
        <h6>Price</h6> 
        <br />
        {{item.price}}
       </div>
       <div class="date">
        <h6>Date</h6> 
        <br />
        {{item.date}}
       </div>
       <a href="{% url 'item_update' budget.pk item.pk %}" class="button is-info">
           <span class="icon">
               <i class="edit">
                <img class='edit' src="https://www.iconsdb.com/icons/preview/purple/edit-xxl.png" alt="">
               </i>
           </span>
       </a>
    
    </div>
    <hr />
    
    
    {% endfor %}
    </div>
</div>
{% endblock %}