{% extends 'base.html' %} 
{% load crispy_forms_tags %}
{% block content %}
<div class="">
    
    <div class="">
        <h3 class="form-title">Add your budget</h3>
        <hr />
        <form class='form-page' method="post">
            {% csrf_token %}
            <div class="form-inputs">
            {{ form.amount|as_crispy_field }}
          </div>
          <div class="form-inputs">
            {{ form.month|as_crispy_field }}
          </div>
            <input class= 'form rounded-pill' type="submit" value="Submit" />
           
          </form>
{% endblock %}