{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>myBudget - {% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    <script src="{% static 'scripts/main.js' %}" defer></script>
</head>
<body>
    <header class="position-sticky top-0 bg-light">
        <nav class="navbar navbar-expand-lg ">
            <div class="container-fluid">
                <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarMain"
        aria-controls="navbarMain"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/">
          myBudget
      </a>
                <div class="collapse navbar-collapse" id="navbarMain">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                      {% if user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link" href="/budget">Budgets</a></li>
                      {% endif %}
                      <li class="nav-item"><a class="nav-link" href="/about">How it works</a></li>
                    </ul>
                    {% if not user.is_authenticated %}
                      <a class="btn sign-in-btn ms-3" href="{% url 'login' %}">Sign in</a>
                    {% else %}
                      <div class="user-info ms-3">
                        <a class="btn logout-btn" href="{% url 'logout' %}">Logout</a>
                      </div>
                    {% endif %}
                  </div>
            </div>
        </nav>
    </header>
    <main class="container">
        <section class="home-titles text-center">
            <h1 class="home-company"><span class="dollars">$</span><span class="dollars counter" data-countto="11.67" data-duration="2000"></span> <span>Starbucks</span></h1>
            <h1 class="home-company"><span class="dollars">$</span><span class="dollars counter" data-countto="27.05" data-duration="2000"></span> <span>Nike</span></h1>
            <h1 class="home-company"><span class="dollars">$</span><span class="dollars counter" data-countto="23.21" data-duration="2000"></span> <span>Amazon</span></h1>
            <section class="text-center">
                <p class="home-quote">It adds up.</p>
                <p class="home-quoteTwo">Say <span class="wave">👋</span> to myBudget</p>
            </section>
        </section>
        <section class="tell-more rounded">
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <p class="track">
                        <span class="emoji-circle">🤑</span>
                        <span class="tops">Budget Smarter</span><br>Set up personalized budgets tailored to your lifestyle and financial goals. Whether it’s daily expenses, monthly bills, or long-term plans, stay on top of your spending effortlessly. Simply add the amount and we’ll do the rest.</p>
                </div>
                <div class="col-md-4">
                    <p class="save">
                        <span class="emoji-circle">🛟</span>
                        <span class="tops">Save More</span><br>Whether you're building an emergency fund, saving for a dream vacation, or planning for a big purchase, myBudget helps you stay motivated and on track with automated savings suggestions and reminders.</p>
                </div>
                <div class="col-md-4">
                    <p class="budget">
                        <span class="emoji-circle">🕵️</span>
                        <span class="tops">Track Every Dollar</span><br>With myBudget, tracking your expenses has never been easier. Get a real-time overview of where your money is going with detailed expense tracking and receive insights to make informed financial decisions.</p>
                </div>
            </div>
        </section>
        <section class="button-padding">
        <a href="{% url 'signup' %}">
        <div class="button-section text-center">
            <span class="default-text">Get Started Today</span>
            <span class="text-change">🥳</span>
        </div>
    </a>
</section>
        {% block content %}{% endblock %}
    </main>

    <footer class="footer text-white">
        <div class="left-content">
            <p class="fs-5">Questions?</p>
            <p class="fs-5">Contact us at support@mybudget.com</p>
        </div>
        <div class="right-content">
            <p class="fs-5 how-it-works"><a class="nav-link" href="/about">How it works</a></p>
            <p class="fs-5">©️2025 myBudget is a fictitious app created by Joey Caltabellotta</p>
        </div>
    </footer>
</body>
</html>