{% extends 'base.html' %} 
{% load crispy_forms_tags %}
{% block title %} Update {{purchased.name}} {% endblock %}
{% block content %}

<h1 class="pt-3">Update your {{item.name}} purchase</h1>
<hr />
<form action="" method="post">
  {% csrf_token %} 
  <div class="update-form">
    {{ form.name|as_crispy_field }}
  </div>
  <div class="update-form">
    {{ form.title|as_crispy_field }}
  </div>
  <div class="update-form">
    {{ form.price|as_crispy_field }}
  </div>
  <div class="update-form">
    {{ form.date|as_crispy_field }}
  </div>
  <input class='edit rounded-pill' type="submit" value="Submit"  />
</form>
{% endblock %}